form {
    margin: 30px;
    text-align: center;
}

.input-group-text {
    width: 30%;
}

.edit {
    display: inline;
}

.editID {
    width: 10% !important;
    display: inline !important;
}

.input-group {
    width: 60% !important;
    margin: auto;
}